<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <h1 class="col-12">WSFIA Area Map</h1>

    <div class="col-md-12 mb-3">
        <figure class="figure p-3">
            <img src="images/area-map.gif" class="figure-img img-fluid rounded" alt="WSFIA Area Map" />
            <figcaption class="figure-caption">WSFIA's Areas</figcaption>
        </figure>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 1 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Anthony D’Amico</h5>
                <p class="card-text">
                    Assistant Chief<br />
                    Town of Brookfield Fire Department<br />
                    (262) 796-3792 (Work)
                </p>
            </div>
            <a href="mailto:Area1@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 1 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 2 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Bob Kessenich</h5>
                <p class="card-text">
                    City of Beloit Fire Department<br />
                    Fire Inspector<br />
                    (608) 364-6655
                </p>
            </div>
            <a href="mailto:Area2@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 2 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 3 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Mitchell Sutter</h5>
                <p class="card-text">
                    Hollandale Fire Department<br />
                    Fire Inspector / Code Enforcement<br />
                    (608) 220-4384
                </p>
            </div>
            <a href="mailto:Area3@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 3 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 4 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Jason Knecht</h5>
                <p class="card-text">
                    Fire Inspector<br />
                    Township Fire Department, Inc.<br />
                    (715) 215-3425
                </p>
                <h5 class="card-title">David Rosman</h5>
                <p class="card-text">
                    Fire Inspector<br />
                    FairchildFire Department, Inc.<br />
                    (715) 797-6655
                </p>
            </div>
            <a href="mailto:Area4@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 4 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 5 Chairperson</div>
            <!--
            <div class="card-body">
                <h5 class="card-title">Scott St.Martin</h5>
                <p class="card-text">
                    Fire Chief/Fire Marshall<br />
                    Hudson Fire Department<br />
                    (715) 386-4270
                </p>
            </div>
            <a href="mailto:Area5@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 5 Chairperson</a>
            -->
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 6 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Ann Fry-Eickstedt</h5>
                <p class="card-text">
                    Fire and Rescue Safety Officer<br />
                    Hartford Fire Department<br />
                    (262) 224-6110
                </p>
            </div>
            <a href="mailto:Area6@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 6 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 7 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Brian Bending</h5>
                <p class="card-text">
                    Battalion Chief/Fire Marshall<br />
                    City of Oshkosh Fire Department<br />
                    (920)-379-3524
                </p>
            </div>
            <a href="mailto:Area7@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 7 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 8 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Stewart Swanson</h5>
                <p class="card-text">
                    Fire Marshal<br />
                    Crivitz Fire Department<br />
                    (715) 923-9814
                </p>
            </div>
            <a href="mailto:Area8@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 8 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 9 Chairperson</div>
            <!--
            <div class="card-body">
                <h5 class="card-title">Pete Fletty</h5>
                <p class="card-text">
                    Deputy Chief of Fire Prevention<br />
                    Marshfield Fire and Rescue Department<br />
                    Work: (715) 486-2092<br />
                    Cell: (715) 897-3238
                </p>
            </div>
            <a href="mailto:Area9@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 9 Chairperson</a>
            -->
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 10 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Tom Waydick</h5>
                <p class="card-text">
                    Assistant Chief<br />
                    Rhinelander Fire Department<br />
                    (715) 365-5417
                </p>
            </div>
            <a href="mailto:Area10@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 10 Chairperson</a>
        </div>
    </div>
    
    <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Area 11 Chairperson</div>
            <div class="card-body">
                <h5 class="card-title">Sy Wera</h5>
                <p class="card-text">
                    Fire Inspector/Public Educator<br />
                    Namakagon Fire Department<br />
                    (715) 794-2365
                </p>
            </div>
            <a href="mailto:Area11@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Area 11 Chairperson</a>
        </div>
    </div>

</section>

<%- include ('template/footer') -%>