<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <h1 class="col-12">Awards</h1>

    <div class="col-lg">
        <a href="https://drive.google.com/open?id=1D81PBnYqZLAdUuFvrmOSHFjlqdZzii2P" class="btn btn-primary btn-block my-4" target="_blank">WSFIA Awards Application</a>

        <p><b>To nominate someone for one of the awards below. Download the PDF of the nomination form, and fill it out using Acrobat or another PDF viewing program. Once you've filled out the form, save it and either e-mail the PDF file to <a href="mailto:treasurer@wsfia.org">treasurer@wsfia.org</a>, or mail it to the address listed at the bottom of the form.</b></p>
        <div style="min-width:650px; text-align:left; vertical-align:middle; display:block">
            <p>The <b>"Fire Inspector of the Year"</b> award is presented by the Wisconsin State Fire Inspectors Association to an outstanding fire inspector, career or volunteer, who has demonstrated superior achievement in the area of fire prevention. This award is based upon the nominee's accomplishments, service, and reasons that qualifies them for this recognition. This award is presented at the Wisconsin State Fire Inspectors Association Annual Conference.</p>
    
            <p>The <b>"Public Educator of the Year"</b> award is presented by the Wisconsin State Fire Inspectors Association to an outstanding Public Educator, career or volunteer, who has demonstrated superior achievement in the area of fire prevention. This award is based upon the nominee's accomplishments, service, and reasons that qualifies them for this recognition. This award is presented at the Wisconsin State Fire Inspectors Association Annual Conference.</p>
        
            <p>The <b>"Fire Chief of the Year"</b> award is presented by the Wisconsin State Fire Inspectors Association to an outstanding fire chief, career or volunteer, who has demonstrated superior achievement in the area of fire prevention. This award is based upon the nominee's accomplishments, service, and reasons that qualifies them for this recognition. This award is presented at the Wisconsin State Fire Chief's Conference.</p>
    
            <p>The <b>"Lifetime Membership"</b> is awarded by the Wisconsin State Fire Inspectors Association to member of the Association, who has demonstrated a commitment to the Wisconsin State Fire Inspectors Association and to fire prevention. This award is based upon the nominee's accomplishments, service, and reasons that qualifies them for this recognition. This award is presented at the Wisconsin State Fire Inspectors Association Annual Conference.</p>

            <a href="https://drive.google.com/open?id=1fZAMWppLJXm4mLIoHz5mu0bSfGgBLkQQ" class="btn btn-secondary btn-block mt-3" target="_blank">WSFIA Lifetime Membership Nomination Form</a>

        </div>
    
    </div>

</section>

<%- include ('template/footer') -%>