<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <div class="col-lg d-flex justify-content-center w-100 h-100">
        <iframe title="calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=admin%40wsfia.org&amp;color=%2329527A&amp;ctz=America%2FChicago" class="w-100" style="border-width:0" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</section>

<%- include ('template/footer') -%>