<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <div class="container mx-3">
        <h1>Annual Fire Prevention Professionals Conference</h1>

        <p>WSFIA Members,<br/><br/>
        First of all, I want to sincerely thank each member of this association that took the 
        time and effort to complete the survey that I sent out regarding the fall conference. 
        I am grateful for the comments and suggestions that were offered.</p>

        <p>I have spent a great deal of time thinking about the conference, and what is the most 
        appropriate decision to make with the current situation that we are all dealing with. 
        It is not an easy decision to make, and that is why I wanted to reach out to the 
        membership and get a good understanding of the feelings of the body as a whole. 
        I also reached out specifically to the full Board of Directors and requested their 
        direct personal thoughts and suggestions.</p>

        <p>Based on the data received from the survey, it is very apparent that we would not have 
        enough members committed to attend the conference to make it profitable, or even break 
        even. I also want everyone to understand that it is my personal opinion, as well as 
        that of many others that have provided their input, that it is just not responsible 
        for the WSFIA to move forward with a conference that would potentially expose our members, 
        member families, guest speakers, vendors, co-workers, and others, to the COVID-19 virus. 
        Many of our members, if not the majority, are also emergency medical response personnel. 
        We are provided direction from our appropriate medical directors that help us create our 
        policies and procedures for the safest response protocols when dealing with patients. 
        It is quite simply not responsible for us to place ourselves in a position of possible 
        exposure that could be passed on to others. I am well aware of the fact that this opinion 
        and decision is not going to be agreed upon by every member of the association, however I 
        do feel it is the appropriate action to take.</p>

        <p>Therefore, based on all of the information and input that I have received, I have made the 
        decision to cancel the 2020 WSFIA Fall Conference. We have received assurance from the Chula 
        Vista that we will get credit for the funds that we have already committed for the conference. 
        I am very grateful for the team at Chula Vista for working directly with us to make the most 
        out of this very challenging situation.</p>

        <p>I have also received a great deal of feedback from the WSFIA Conference Committee. The overall 
        thought is that it is not realistic to put together a productive virtual conference in a 
        timely manner that would be fiscally responsible. Therefore we will not be providing a 
        virtual conference option.</p>

        <p>We will continue to work on a process that will allow us to hopefully hold our required annual 
        meeting. We are looking at options that will afford us the ability to provide proper, productive, 
        and pertinent information, as well as the ability to hold the required elections for Executive 
        Board Members. You can expect to receive additional information within the next couple of months 
        that will provide you with the process that we will utilize.</p>

        <p>I thank each of you for trusting me to work through these issues. I am extremely grateful for the 
        support and guidance of the members on our board of directors. The area meetings are still encouraged, 
        however we are directing the Area Chairs to take appropriate measures to assure proper social 
        distancing and PPE are utilized in an effort to minimize the possible spread of the virus. The 
        preference would be that the meetings be conducted utilizing video conferencing software when possible.</p>

        <p>Even if you do not personally agree with this decision, I ask that you please respect the reasoning 
        and justification for the decision. We have an incredible group of members in the association and we 
        look forward to seeing each one of you at the 2021 conference as healthy and happy as you can 
        possibly be!</p>

        <p>I welcome each of you to contact me directly with any questions, comments, or concerns that you have.</p>

        <p>Very Respectfully,<br/><br/>
        Vernon A. Green<br/><br/>
        WSFIA President</p>

    </div>

</section>

<%- include ('template/footer') -%>