<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <div class="row d-flex align-items-start">
        <div class="col-md-12">
            <h1>Annual Fire Prevention Professionals Conference</h1>

            <strong style="font-size: 2em;">October 26-29, 2021</strong>
            <h3>Radisson Hotel and Conference Center | Green Bay, Wisconsin</h3>
        </div>

        <div class="col-md-6 order-1 order-md-2">
            <h4>Conference Fees</h4>
            <table class="table">
                <caption>*Includes social events (social events are NOT included in a 1 or 2 day conference)</caption>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Member</th>
                        <th scope="col">Non-Member</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Day</td>
                        <td>$225</td>
                        <td>$265</td>
                    </tr>
                    <tr>
                        <td>2 Day</td>
                        <td>$265</td>
                        <td>$305</td>
                    </tr>
                    <tr>
                        <td>3 & 4 Day*</td>
                        <td>$300</td>
                        <td>$340</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Extra Banquet Tickets</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Extra Vendor Reception Tickets</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <td>Late Fee (after Sept 30th)</td>
                        <td>$50</td>
                    </tr>
                </tbody>
            </table>

            <p><strong>***NO REFUNDS WILL BE ISSUED AFTER SEPT 30TH***</strong></p>

            <h5>Host Hotel</h5>
            <p>
                Call the Radisson Hotel and Conference Center directly at (920) 494-7300, you must ask for the 
                Wisconsin Fire Inspectors Association room block AND have a valid Tax Exempt number from your 
                local department to receive the rate of $89 for a single or a double.
            </p>
            <ul>
                <li>Breakfast is included with registration.</li>
                <li>Lunch is provided with your registration Tuesday—Thursday.</li>
                <li>Wednesday Vendor Reception and Thursday Banquet are included with your 3 & 4 day Conference Fee.</li>
                <li>Reservations must be made by October 2nd to ensure you receive the conference rate.</li>
            </ul>
    
            <h5>Scholarships</h5>
            <p>Scholarships are available. To apply, fill out an application at: <a href="/scholarships">https://wsfia.org/scholarships</a></p>
        </div>


        <div class="col-md-6 order-2 order-md-1">
            <h4>Agenda</h4>
            <h5>TUESDAY, OCTOBER 26</h5>
            <ul>
                <li>9:00 am - 12:00 pm – NFPA 72</li>
                <li>9:00 am - 12:00 pm – What’s The Big Deal About CRR</li>
                <li>1:00 pm - 4:00 pm – NFPA 72</li>
            </ul>

            <h5>WEDNESDAY, OCTOBER 27</h5>
            <ul>
                <li>8:00 am – Opening Ceremonies</li>
                <li>8:45 am	– TBD</li>
                <li>10:15 am – Motivating For Behavior Change</li>
                <li>11:30 am – Rah Rah Session</li>
                <li>1:15 pm – Break-out Sessions
                    <ul>
                        <li>Basic Alarm</li>
                        <li>Vision 20/20 Update</li>
                    </ul>
                </li>
                <li>3:15 pm – Break-out Sessions
                    <ul>
                        <li>Advanced Alarm</li>
                        <li>Burn Prevention</li>
                    </ul>
                </li>
                <li>6:00 pm – Vendor’s Reception</li>
            </ul>

            <h5>THURSDAY, OCTOBER 28</h5>
            <ul>
                <li>8:00 am	– CRR In The Small Communicty</li>
                <li>9:45 am – TBD</li>
                <li>11:30 am – Board Meeting / Working Lunch</li>
                <li>1:30 pm – Break-out Sessions
                    <ul>
                        <li>Current Hot Topics/Events - Blast Session</li>
                        <li>TBD</li>
                    </ul>
                </li>
                <li>3:30 pm – Break-out Sessions
                    <ul>
                        <li>Spray Booth/Areas And Limited Spray Operation</li>
                        <li>JFS</li>
                    </ul>
                </li>
                <li>6:00 pm – Banquet and Awards Ceremony</li>
            </ul>

            <h5>FRIDAY, OCTOBER 29</h5>
            <ul>
                <li>8:00 am - 11:00 am – Sprinklers</li>
                <li>8:00 am - 5:00 pm – Basic Inspector</li>
            </ul>
        </div>

    </div>

    <h2>Registration Options</h2>
    <a href="/conference/register" class="btn btn-primary btn-block p-3 my-3">Attendee Registration</a>
    <a href="/conference/sponsor" class="btn btn-primary btn-block p-3 my-3">Sponsor Registration</a>
    <a href="/conference/vendor" class="btn btn-primary btn-block p-3 my-3">Vendor Registration</a>
    <a href="/conference/speaker" class="btn btn-primary btn-block p-3 my-3">Speaker Registration</a>

</section>

<%- include ('template/footer') -%>