<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <div class="col-12">
        <h1>Annual Fire Prevention Professionals Conference</h1>

        <strong style="font-size: 2em;">October 20-23, 2020</strong>
        <h3>Chula Vista Resort | Wisconsin Dells, Wisconsin</h3>
    </div>

    <a href="/conference/register" class="btn btn-primary btn-block p-3 my-3">Register Here</a>

    <div class="col-lg-12 my-4 pt-4 p-3 h5 font-weight-bold text-center" style="background-color:#efbf03; color: #ce2029">
        <p>Our conference is currently moving forward however, due to COVID-19 this may change.</p>
        <p>Visit our website for up to date information!</p>
    </div>

    <div class="row d-flex align-items-start">

        <div class="col-md-6 order-1 order-md-2">
            <h4>Conference Fees</h4>
            <table class="table">
                <caption>*Includes social events (social events are not included in a 1 or 2 day conference)</caption>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Member</th>
                        <th scope="col">Non-Member</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Day</td>
                        <td>$225</td>
                        <td>$305</td>
                    </tr>
                    <tr>
                        <td>2 Day</td>
                        <td>$265</td>
                        <td>$345</td>
                    </tr>
                    <tr>
                        <td>3 & 4 Day*</td>
                        <td>$300</td>
                        <td>$380</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Extra Banquet Tickets</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Extra Vendor Reception Tickets</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <td>Late Fee (after Sept 30th)</td>
                        <td>$50</td>
                    </tr>
                </tbody>
            </table>

            <p><strong>***NO REFUNDS WILL BE ISSUED AFTER SEPT 30TH***</strong></p>

            <h5>Host Hotel</h5>
            <p>
                The Chula Vista Resort is offering room rates at $82/night
                for single and $99/night for double if you book under
                the Wisconsin State Fire Inspectors Association AND have
                a valid Tax Exempt number from your local department.
                Reservations must be made by October 2nd to ensure you
                receive the conference rate. Contact the hotel directly at
                1.855.388.4782; please reference booking name of Wisconsin
                Fire Inspectors Association.
            </p>

            <ul>
                <li>Breakfast is included with registration.</li>
                <li>Lunch is provided with your registration Tuesday—Thursday.</li>
                <li>Wednesday Vendor Reception and Thursday Banquet are included with your 3 & 4 day Conference Fee.</li>
            </ul>
    
            <h5>Scholarships</h5>
            <p>Scholarships are available. To apply, fill out an application at: <a href="/scholarships">https://wsfia.org/scholarships</a></p>
        </div>


        <div class="col-md-6 order-2 order-md-1">
            <h4>Agenda</h4>
            <h5>TUESDAY, OCTOBER 20</h5>
            <ul>
                <li>8:00 am - 5:00 pm – NFPA 72</li>
                <li>9:00 am - 12:00 pm – What’s The Big Deal About CRR</li>
                <li>12:00 pm - 1:00 pm – Lunch</li>
            </ul>

            <h5>WEDNESDAY, OCTOBER 21</h5>
            <ul>
                <li>8:00 am – Opening Ceremonies</li>
                <li>8:45 am	– Keynote: Being a Catalyst for Change in a World of Resistance <i>Dr. Candice McDonald, SuccessUpLife</i></li>
                <li>10:15 am – Motivating For Behavior Change</li>
                <li>11:30 am – Motivating General Session</li>
                <li>12:00 pm – Lunch</li>
                <li>1:15 pm – Break-out Sessions
                    <ul>
                        <li>Basic Alarm</li>
                        <li>Vision 20/20 Update</li>
                        <li>General Topic - Blast Session</li>
                    </ul>
                </li>
                <li>3:00 pm – Break-out Sessions
                    <ul>
                        <li>Listed & Labeled</li>
                        <li>Advanced Alarm</li>
                        <li>Burn Prevention</li>
                    </ul>
                </li>
                <li>6:00 pm – Vendor’s Reception</li>
            </ul>

            <h5>THURSDAY, OCTOBER 22</h5>
            <ul>
                <li>8:00 am	– CRR In The Small Communicty</li>
                <li>9:45 am – School Fire Inspection Program</li>
                <li>11:30 am – Board Meeting / Working Lunch</li>
                <li>1:15 pm – Break-out Sessions
                    <ul>
                        <li>Current Hot Topics/Events - Blast Style Format</li>
                        <li>Fire Pumps - What You Need to Know</li>
                        <li>TBD</li>
                    </ul>
                </li>
                <li>3:00 pm – Break-out Sessions
                    <ul>
                        <li>General Topics - Blast Style Format</li>
                        <li>Spray Booth/Areas And Limited Spray Operation</li>
                        <li>TBD</li>
                    </ul>
                </li>
                <li>6:00 pm – Banquet and Awards Ceremony</li>
            </ul>

            <h5>FRIDAY, OCTOBER 23</h5>
            <ul>
                <li>8:00 am - 11:00 am – Sprinklers</li>
            </ul>
        </div>

    </div>

    <a href="/conference/register" class="btn btn-primary btn-block p-3 my-3">Register Here</a>

</section>

<%- include ('template/footer') -%>