<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <div class="row d-flex align-items-start">
        <div class="col-md-12">
            <h1>Annual Fire Prevention Professionals Conference</h1>

            <strong style="font-size: 2em;">October 26-29, 2021</strong>
            <h3>Radisson Hotel and Conference Center | Green Bay, Wisconsin</h3>
        </div>

        <div class="col-md-6 order-1 order-md-2">
            <h4>Conference Fees</h4>
            <table class="table">
                <caption>*Includes social events (social events are NOT included in a 1 or 2 day conference)</caption>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Member</th>
                        <th scope="col">Non-Member</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Day</td>
                        <td>$225</td>
                        <td>$265</td>
                    </tr>
                    <tr>
                        <td>2 Day</td>
                        <td>$265</td>
                        <td>$305</td>
                    </tr>
                    <tr>
                        <td>3 & 4 Day*</td>
                        <td>$300</td>
                        <td>$340</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Extra Banquet Tickets</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Extra Vendor Reception Tickets</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <td>Late Fee (after Sept 30th)</td>
                        <td>$50</td>
                    </tr>
                </tbody>
            </table>

            <p><strong>***NO REFUNDS WILL BE ISSUED AFTER SEPT 30TH***</strong></p>

            <h5>Host Hotel</h5>
            <p>
                Call the Radisson Hotel and Conference Center directly at (920) 494-7300, you must ask for the 
                Wisconsin Fire Inspectors Association room block AND have a valid Tax Exempt number from your 
                local department to receive the rate of $89 for a single or a double.
            </p>
            <ul>
                <li>Breakfast is included with registration.</li>
                <li>Lunch is provided with your registration Tuesday-Thursday.</li>
                <li>Wednesday Vendor Reception and Thursday Banquet are included with your 3 & 4 day Conference Fee.</li>
                <li>Reservations must be made by October 2nd to ensure you receive the conference rate.</li>
            </ul>
    
            <h5>Scholarships</h5>
            <p>Scholarships are available. To apply, fill out an application at: <a href="/scholarships">https://wsfia.org/scholarships</a></p>
        </div>


        <div class="col-md-6 order-2 order-md-1">
            <h4>Agenda</h4>
            <h5>TUESDAY, OCTOBER 26</h5>
            <ul>
                <li>9:00 am - 12:00 pm : Significant Changes to the 2022 Edition of NFPA 72, National Fire Alarm and Signaling Code</li>
                <li>9:00 am - 12:00 pm : Data Collection for CRR</li>
                <li>1:00 pm - 4:00 pm : Significant Changes to the 2022 Edition of NFPA 72, National Fire Alarm and Signaling Code</li>
                <li>1:00 pm - 4:00 pm : Best Practices</li>
            </ul>

            <h5>WEDNESDAY, OCTOBER 27</h5>
            <ul>
                <li>8:00 am - 8:45 am : Opening Ceremonies - Meet the Exec Board</li>
                <li>8:45 am	- 10:00 am : Being a Catalyst for Change in a World of Resistance</li>
                <li>10:15 am - 11:30 am : Motivating For Behavior Change</li>
                <li>11:30 am - 12:00 pm : Social Media Updates</li>
                <li>1:15 pm - 2:45 pm : Break-Out Sessions
                    <ul>
                        <li>Sprinklers</li>
                        <li>Vision 20/20 Update</li>
                    </ul>
                </li>
                <li>3:15 pm - 4:45 pm : Break-Out Sessions
                    <ul>
                        <li>Sprinklers</li>
                        <li>Burn Injury Prevention</li>
                    </ul>
                </li>
                <li>6:00 pm : Vendor’s Reception</li>
            </ul>

            <h5>THURSDAY, OCTOBER 28</h5>
            <ul>
                <li>8:00 am - 9:30 am : CRR In The Small Community</li>
                <li>9:45 am - 11:15 am : Fire Inspection in Laboratories and Lab Storage</li>
                <li>11:30 am - 1:00 pm : Board Meeting / Working Lunch</li>
                <li>1:30 pm - 3:00 pm : Break-Out Sessions
                    <ul>
                        <li>Current Hot Topic - Blast Session</li>
                        <li>How To Drive the Bus To Get PE In The Inter City</li>
                    </ul>
                </li>
                <li>3:30 pm - 5:00 pm : Break-Out Sessions
                    <ul>
                        <li>Spray Booth/Areas And Limited Spray Operation</li>
                        <li>JFS</li>
                    </ul>
                </li>
                <li>6:00 pm : Banquet and Awards Ceremony</li>
            </ul>

            <h5>FRIDAY, OCTOBER 29</h5>
            <ul>
                <li>8:00 am - 11:00 am : Debunking the Myths of Sprinklers</li>
                <li>8:00 am - 5:00 pm : Basic Inspector</li>
            </ul>
            <h5>SATURDAY, OCTOBER 30</h5>
            <ul>
                <li>8:00 am - 5:00 pm : Basic Inspector</li>
            </ul>
        </div>

    </div>

    <h2>Registration Options</h2>
    <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ei9y1hqre4a9efcd" target="_blank" class="btn btn-primary btn-block p-3 my-3">Attendee Registration</a>
    <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ei9yjfo15a664e3d" target="_blank" class="btn btn-primary btn-block p-3 my-3">Sponsor Registration</a>
    <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ei9yjfo15a664e3d" target="_blank" class="btn btn-primary btn-block p-3 my-3">Vendor Registration</a>
    <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07ei9ygf9mb463a6b2" target="_blank" class="btn btn-primary btn-block p-3 my-3">Speaker Registration</a>


</section>

<%- include ('template/footer') -%>