<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <h1 class="col-12">WSFIA Executive Board Members</h1>

    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">
                President / Parliamentarian 
            </div>
            <img src="images/board-members/Vernon-Green.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA President / Parliamentarian" />
            <div class="card-body">
                <h5 class="card-title">Vernon Green</h5>
                <p class="card-text">
                    Assistant Chief / Fire Marshal<br />
                    Neenah Menasha Fire Rescue<br />
                    125 E. Columbian Ave.<br />
                    Neenah, WI 54956<br />
                    (920) 866-6201 (Office)<br />
                    (920) 450-9125 (Cell)<br />
                    (920) 886-6208 (Fax)<br />
                    President@wsfia.org<br />
                    Parliamentarian@wsfia.org
                </p>
            </div>
            <a href="mailto:President@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Vernon</a>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">1st Vice President</div>
                <img src="images/board-members/Tammy-Lamberg.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA 1st Vice President" />
            <div class="card-body">
                <h5 class="card-title">Tammy Lamberg</h5>
                <p class="card-text">
                    Retired Captain<br />
                    City of West Bend Fire Department<br />
                    (262) 689-9665<br />
                    1stVicePresident@wsfia.org
                </p>
            </div>
            <a href="mailto:1stVicePresident@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Tammy</a>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">2nd Vice President</div>
                <img src="images/WSFIA_Logo.png" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA 2nd Vice President" />
            <div class="card-body">
                <h5 class="card-title">Troy Hasse</h5>
                <p class="card-text">
                    Division Chief<br />
                    Fond Du Lac Fire Rescue<br />
                    (920) 322-3807 (Cell)<br />
                    2ndVicePresident@wsfia.org
                </p>
            </div>
            <a href="mailto:2ndVicePresident@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Troy</a>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Executive Secretary Treasurer</div>
                <img src="images/board-members/Laurie-Frey.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA Executive Secretary Treasurer" />
            <div class="card-body">
                <h5 class="card-title">Laurie Frey</h5>
                <p class="card-text">
                    PO Box 1075<br />
                    Menomonee Falls WI, 53051<br />
                    (262) 719-3006 (Cell)<br />
                    Treasurer@wsfia.org
                </p>
            </div>
            <a href="mailto:Treasurer@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Laurie</a>
        </div>
    </div>
    
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">
                Recording Secretary
            </div>
            <img src="images/board-members/Guy-Santelli.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA Recording Secretary" />
            <div class="card-body">
                <h5 class="card-title">Guy Santelli</h5>
                <p class="card-text">
                    Division Chief<br />
                    Kenosha Fire Department<br />
                    (262) 653-4109 (Office)<br />
                    (262) 945-4270 (Cell)<br />
                    1910 8th Pl<br />
                    Kenosha WI, 53140<br />
                    Secretary@wsfia.org
                </p>
            </div>
            <a href="mailto:Secretary@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Guy</a>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">
                Assistant Secretary/Treasurer
            </div>
            <img src="images/board-members/Kenny-Asselin.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA Assistant Secretary/Treasurer" />
            <div class="card-body">
                <h5 class="card-title">Kenny Asselin</h5>
                <p class="card-text">
                    Captain of Fire Prevention/Paramedic <br />
                    West Bend Fire Department<br />
                    (262) 335-5054 (Office)<br />
                    325 North 8th Avenue<br />
                    West Bend WI, 53095<br />
                    AsstSecTreas@wsfia.org
                </p>
            </div>
            <a href="mailto:AsstSecTreas@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Kenny</a>
        </div>
    </div>
    
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">
                Training Director
            </div>
            <img src="images/board-members/Terry-Nolen.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA Training Director" />
            <div class="card-body">
                <h5 class="card-title">Terry Nolen</h5>
                <p class="card-text">
                    106 Richard Circle<br />
                    Verona WI, 53593<br />
                    (608) 444-6002 (Cell)<br />
                    Training@wsfia.org
                </p>
            </div>
            <a href="mailto:Training@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Terry</a>
        </div>
    </div>
    
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">
                Assistant Training Director
            </div>
            <img src="images/board-members/Adam-Dorn.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA Assistant Training Director" />
            <div class="card-body">
                <h5 class="card-title">Adam Dorn</h5>
                <p class="card-text">
                    Fitchburg Fire Department<br />
                    5791 Lacy Road<br />
                    Fitchburg WI, 53711<br />
                    (608) 275-7150 (Office)<br />
                    (920) 210-2319 (Cell)<br />
                    AsstTraining@wsfia.org
                </p>
            </div>
            <a href="mailto:AsstTraining@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Adam</a>
        </div>
    </div>
    
    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">
                CRR and Public Education Director
            </div>
            <img src="images/board-members/John-Maydak.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA CRR and Public Education Director" />
            <div class="card-body">
                <h5 class="card-title">John Maydak</h5>
                <p class="card-text">
                    Battalion Chief<br />
                    North Shore Fire/Rescue<br />
                    665 East Brown Deer Road<br />
                    Bayside, WI 53217<br />
                    (414) 357-0113 Ext 1512 (Office)<br />
                    (262) 278-5747 (Cell)<br />
                    PubEd@wsfia.org
                </p>
            </div>
            <a href="mailto:PubEd@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail John</a>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-light font-weight-bold">Past President</div>
                <img src="images/board-members/Jeff-Pollard.jpg" class="card-img-top align-self-center" style="height:auto; width:60%;" alt="WSFIA Past President" />
            <div class="card-body">
                <h5 class="card-title">Jeff Pollard</h5>
                <p class="card-text">
                    W3539 Joanne Street<br />
                    Appleton, WI 54913<br />
                    Freedom Fire Department<br />
                    (920) 213-0656 (Cell)<br />
                    PastPresident@wsfia.org
                </p>
            </div>
            <a href="mailto:PastPresident@wsfia.org" class="card-footer d-flex justify-content-around btn-primary">e-Mail Jeff</a>
        </div>
    </div>

</section>

<%- include ('template/footer') -%>