<%- include ('template/header') -%>

<div class="row">
    <div class="col-lg-4 justify-content-center align-items-center">
        <img src="images/WSFIA_Logo.png" class="img-fluid" alt="Wisconsin State Fire Inspectors Association" />
    </div>
    
    <div class="col-lg-8 p-4 justify-content-center align-self-center" style="border-radius: 1em; background-color: rgba(255,255,255, 0.8);">
        <p>To provide the people of Wisconsin we serve with effective life safety strategies through comprehensive inspection, public education, 
            code management, and fire investigation training and awareness. We also strive through diligent practice and enforcement to keep all 
            persons, including members of the fire service safe.</p>

        <p>The Wisconsin State Fire Inspectors Association fosters the highest standards of fire prevention in the state of Wisconsin through 
            progressive Fire Inspections and Public Fire and Life Safety Education.</p>

        <p>If you have any questions or concerns related to fire inspections, public education, or the field of fire prevention, please contact 
            anyone from our association. <a href="/contact" title="WSFIA Executive Board Members">Click here for our board 
            of directors and executive board members who will be happy to help.</a></p>
    </div>

    <div class="card text-white my-4 text-center w-100" style="border-radius: 1em; background-color:#efbf03; color: #ce2029">
        <div class="card-body d-flex justify-content-center align-items-center">
            <p class="m-0" style="color: #ce2029; font-weight: bold;">Annual Fire Prevention Professionals Conference Update</p>
            <a href="/conference" class="m-3 btn btn-primary">More Info</a>
        </div>
    </div>

    <div class="card text-white bg-secondary my-4 text-center" style="border-radius: 1em;">
        <div class="card-body d-flex justify-content-around align-items-center">
            <div>
                <p class="text-white m-0">Become a member today to get the latest information reguarding fire inspection, public education, and fire investigation.</p>
                <p class="text-white m-0"><em>NOTE: Membership renewals will be available at the first of each year.</em></p>
            </div>
            <a href="/register" class="m-3 btn btn-primary">Membership Registration</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="border-radius: 1em;">
                <div class="card-body">
                    <h2 class="card-title">News / Announcements</h2>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="border-radius: 1em;">
                <div class="card-body">
                    <h2 class="card-title">Sponsors</h2>
                    <p class="card-text">The WSFIA is support by some of the finest companies in the industry.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">View Sponsors</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="border-radius: 1em;">
                <div class="card-body">
                    <h2 class="card-title">Follow Us</h2>
                    <p class="card-text">For instant updates from the WSFIA follow us on social media.</p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a href="https://www.linkedin.com/company/wisconsin-state-fire-inspectors-association/" target="_blank" rel="noopener noreferrer"><span style="color:#2867b2" class="fa fa-linkedin-square fa-w-14 fa-5x"></span></a>
                    <a href="https://www.facebook.com/WSFIA" target="_blank" rel="noopener noreferrer"><span style="color:#3b5998" class="fa fa-facebook-square fa-w-14 fa-5x"></span></a>
                    <a href="https://twitter.com/wsfia" target="_blank" rel="noopener noreferrer"><span style="color:#1da1f2" class="fa fa-twitter-square fa-5x"></span></a>
                </div>
            </div>
        </div>

    </div>

</div>

<%- include ('template/footer') -%>