<%- include ('template/header') -%>

<div class="row">

    <div class="card text-dark my-4 w-100 h-100" style="border-radius: 1em; border-radius: 1em; background-color: rgba(255,255,255, 0.8);">
        <div class="card-header">
            Job Posting Links
        </div>
        <div class="card-body justify-content-around align-items-center">
            <div class="list-group list-group-flush">
                <a href="https://wj.wi.gov/psc/wisjobs/CAREERS/HRMS/c/HRS_HRAM_FL.HRS_CG_SEARCH_FL.GBL?Action=U&Page=HRS_APP_JBPST_FL&SiteID=1&FOCUS=Applicant&JobOpeningId=2667&PostingSeq=1" 
                    class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">
                        State of Wisconsin Fire Suppression/Fire Alarm Plan Reviewer
                        <p class="ml-2 mb-0" style="font-size: 80%;">The deadline to apply is 11:59 PM: CT on Sunday, September 12.</p>
                </a>
                
            </div>
        </div>
    </div>

    <div class="card text-dark my-4 w-100 h-100" style="border-radius: 1em; border-radius: 1em; background-color: rgba(255,255,255, 0.8);">
        <div class="card-header">
            Job Posting Documents
        </div>
        <div class="card-body justify-content-around align-items-center">
            <iframe src="https://drive.google.com/embeddedfolderview?id=0B_XqwmnLokTMUGppZXFDZ240VTg#list" class="w-100 h-100" frameborder="0"></iframe>
        </div>
    </div>
    

</div>

<%- include ('template/footer') -%>