doctype html
html
	head(lang="en")
		
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="theme-color" content="#000000")
		meta(name="description" content="")
		meta(name="author" content="")

		title= title
			|&nbsp;- Wisconsin State Fire Inspectors Association 
		
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
		link(rel='stylesheet', href='./css/main.css')

	body

		header#header

			nav.navbar.navbar-expand-lg.navbar-dark.fixed-top

				div.container

					a(href="/").navbar-brand.text-light
						img(src="./images/WSFIA_Logo.png" alt="Wisconsin State Fire Inspectors Association")
						span.d-none.d-sm-none.d-md-inline-block
							| Wisconsin State Fire Inspectors Association 
						span.d-sm-inline-block.d-md-none
							| WSFIA

					button(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
						span.navbar-toggler-icon

					div.collapse.navbar-collapse#navbarResponsive

						ul.navbar-nav.ml-auto

							li.nav-item.dropdown
								a(role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")#infoDropdown.nav-link.dropdown-toggle Association Info
								div(aria-labelledby="infoDropdown").dropdown-menu
									a(href="/executive-board-members").dropdown-item WSFIA Executive Board Members
									a(href="/job-postings").dropdown-item Job Postings
									a(href="/calendar").dropdown-item WSFIA Calendar
									a(href="https://www.thefirefightersdaughters.com/p/catalog/8da7d64f-c19a-49d3-9235-a081ad6fda83/wsfia-gear-store" target="_blank" rel="noopener noreferrer").dropdown-item WSFIA Clothing
									a(href="area-map").dropdown-item WSFIA Area Map

							li.nav-item.dropdown
								a(role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")#conferenceDropdown.nav-link.dropdown-toggle Conference
								div(aria-labelledby="conferenceDropdown").dropdown-menu
									a(href="awards").dropdown-item Awards
									a(href="scholarships").dropdown-item Scholarships
									a(href="conference-registration").dropdown-item Registration
									a(href="https://www.facebook.com/WSFIA/" target="_blank" rel="noopener noreferrer").dropdown-item Conference Photos

							li.nav-item.dropdown
								a(role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")#memberAreaDropdown.nav-link.dropdown-toggle Member Area
								div(aria-labelledby="memberAreaDropdown").dropdown-menu

							li.nav-item
								a(href="/links").nav-link Links

							li.nav-item
								a(href="/executive-board-members").nav-link Contact Us

		main(role="main")#main.container.py-5.mb-4
			//-
				Here is where the content comes in. This is NOT visible in the source.
			//
				Here is where the content comes in. This is visible in the source.
			block content

		footer#footer.bg-secondary.py-3

			div.container

				p.m-0.text-center.text-white 
					| &copy; Copyright 
					script(type="text/javascript").
						const getYear = () => {
							var date = new Date();
							var year = date.getFullYear();
							return year.toString();
						}

						document.write(getYear());

					a(href="http://www.wsfia.org" title="Wisconsin State Fire Inspectors Association").text-white
						| Wisconsin State Fire Inspectors Association 
					| All Rights Reserved
					br
					| *DISCLAIMER* The views and actions of our partners and sponsors do not necessarily reflect the views of the WSFIA.

		script(src="https://code.jquery.com/jquery-3.3.1.min.js")
		script(src="./js/main.js")
		script(src="./js/modules/registration.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
