<%- include ('template/header') -%>

<section class="row d-flex" style="background-color: rgba(255,255,255, 0.8);">

    <h1 class="col-12">Additional Links</h1>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-wsfia-red text-light font-weight-bold">
                    State Associations
                </div>
                <div class="list-group list-group-flush">
                    <a href="http://www.mfis.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Michigan Fire Inspector's Society</a>
                    <a href="http://www.illinoisfireinspectors.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Illinois Fire Inspectors Association</a>
                    <a href="http://www.wsfm.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Wisconsin State Firefighter's Memorial</a>
                    <a href="http://www.doj.state.wi.us/dci/arson" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">State Fire Marshals Office</a>
                    <a href="http://www.fmam.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Fire Marshals Association of Minnesota</a>
                    <a href="http://www.fiai.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Fire Inspectors Association of Indiana</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-wsfia-red text-light font-weight-bold">
                    National Associations
                </div>
                <div class="list-group list-group-flush">
                    <a href="https://www.osha.gov" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Occupational Safety and Health Association</a>
                    <a href="http://www.intlcode.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">International Code Council website</a>
                    <a href="https://www.firesprinkler.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">American Fire Sprinkler Association</a>
                    <a href="https://www.nfsa.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">National Fire Sprinkler Association</a>
                    <a href="http://www.cpsc.gov" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Consumer Product Safety Commission</a>
                    <a href="http://www.ansi.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">American National Standards Institute</a>
                    <a href="http://www.nfpa.org" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">National Fire Protection Association</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header bg-wsfia-red text-light font-weight-bold">
                    Private Industry
                </div>
                <div class="list-group list-group-flush">
                    <a href="http://www.firehouse.com" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Firehouse.com</a>
                    <a href="https://www.firerescue1.com" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Fire Rescue 1</a>
                    <a href="http://www.ul.com" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Underwriters Laboratory </a>
                    <a href="http://fe.pennnet.com/home.cfm" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer">Fire Engineering Magazine</a>
                </div>
            </div>
        </div>

</section>

<%- include ('template/footer') -%>