<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <h1 class="col-12">Scholarships</h1>
    
    <div class="col-lg">
        <strong>2 full scholarships (conference fees and lodging) will be awarded</strong>
        <a href="https://drive.google.com/open?id=1RnkboY-HqU118qrm_7qJR_C3Ey4p4gw-" class="btn btn-primary btn-block my-4" target="_blank">WSFIA Scholarship Application</a>
        <ul>
            <li>One Fire Inspector</li>
            <li>One Public Educator</li>
        </ul>
        <h2>Applicant Criteria</h2>
        <ul>
            <li>Must be an active member of the Wisconsin Fire Inspectors Association or have an active member sponsor you.</li>
            <li>Must be either an active member of a local fire department inspection or public safety education program that directly works to improve the safety of the public through inspections of public education programs.</li>
            <li>All Funds will be used toward the tuition and the room costs associated with the Wisconsin Fire Inspectors Association Conference</li>
            <li>Applicants must demonstrate the need for assistance.</li>
            <li>Applicant must demonstrate how the conference will benefit his/her fire service career and his/her fire department or organizations ability to better serve their community’s needs for life and fire safety education.</li>
        </ul>
        <h2>Application Procedure</h2>
        <ul>
            <li>Submit a completed Conference Scholarship Application</li>
            <li>Gain an Area member to sponsor or nominate you by signing the application (non-members)</li>
            <li>Submit a letter to the scholarship committee on department letterhead that includes the appropriate application criteria listed above.</li>
            <li>Include a letter of support from your chief describing your duties in your organization and how your education will improve the inspection and education of your service community.</li>
            <li>Deadline August 1st</li>
            <li style="display:none">Submit applications, letters, forms, and information to WSFIA designee.</li>
        </ul>
    </div>

</section>

<%- include ('template/footer') -%>