<%- include ('template/header') -%>

<section class="row" style="background-color: rgba(255,255,255, 0.8);">

    <h1 class="col-12">Scholarships</h1>
    
    <div class="col-lg">
    
    </div>

</section>

<%- include ('template/footer') -%>