<%- include ('../template/header') -%>

<section>
    <h1>Registration</h1>
    <p class="text-danger">Start a registration by first looking up your department/business.</p>
    <div id="currentForm" class="form-group">
        <label for="searchTextBoxId">Department / Business:</label>
        <input type="text" class="form-control mb-3" id="searchTextBoxId" name="searchTextBox" 
        onkeyup="businessSearch(this.value, <%= session.conference %>);" placeholder="Search for your Department/Business by Name">
    </div>
    <div id="searchResultsId"></div>
</section>

<%- include ('../template/footer') -%>