<%- include ('../template/header') -%>

<section>
    <h1>Membership Registration</h1>
    <p class="text-danger">Start a registration by first looking up your department/business.</p>
    <div id="currentForm" class="form-group">
        <label for="searchTextBoxId">Department / Business:</label>
        <input type="text" style="width:350px; height:2em" id="searchTextBoxId" name="searchTextBox" 
        onkeyup="businessSearch(this.value);" placeholder="Search for your Department/Business by Name">
    </div>
    <div id="searchResultsId"></div>
</section>

<%- include ('../template/footer') -%>