<%- include ('../template/header') -%>

<section id="membershipInfo">
    <h1>Membership Registration</h1>
    <p class="text-danger">Memberships run January 1 - December 31 of the current year.</p>

    <%- message %>

    <form name="membershipForm" id="membershipForm" action="/register/addMember" method="POST" class="needs-validation" novalidate>
        <fieldset>
            <legend>Member Information</legend>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="emailAddress">e-Mail Address</label>
                <input type="email" class="col-md-10 form-control" onkeyup="checkEmailAddress(this.value)" name="emailAddress" id="emailAddress" size="36" maxlength="128" value="" required />
                <div id="checkResult" style="margin:0 auto; display:inline-block"></div>
            </div>
<!-- Taking out since transferred data isn't encrypted because there's no SSL. Create a password in PHP.
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="password">Password</label>
                <input type="password" class="col-md-10 form-control" id="password" size="20" maxlength="24" required />
            </div>
-->
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="firstName">First Name</label>
                <input type="text" class="col-md-10 form-control" name="firstName" id="firstName" size="20" maxlength="24" value="" required />
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="lastName">Last Name</label>
                <input type="text" class="col-md-10 form-control" name="lastName" id="lastName" size="20" maxlength="24" value="" required />
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="jobTitle">Job Title</label>
                <input type="text" class="col-sm-10 form-control" name="jobTitle" id="jobTitle" size="36" maxlength="48" value="" />
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="studentId">Student ID</label>
                <input type="text" class="col-md-10 form-control" name="studentId" id="studentId" size="12" maxlength="16" value="" />
            </div>
        
        </fieldset>

        <fieldset>
            <legend>Member Area(s)</legend>

            <img src="../../images/area-map.gif" class="float-right figure-img img-fluid rounded" style="width: 30%;" alt="WSFIA Area Map">

            <p>Look for the county your department/organization is in and the corresponding area number to the left of the line; 
                this will be the area number you will use when filling in your membership application.<br />
                <em>Example: Your department is in Brown County, so your area number would be 7.</em></p>    

            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[1]" value="1" data-value="Area 1" />
                <label class="form-check-label ml-1 mr-3" for="area[1]">(Area 1) Kenosha, Walworth, Racine, Jefferson, Milwaukee, Waukesha</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[2]" value="2" data-value="Area 2" />
                <label class="form-check-label ml-1 mr-3" for="area[2]">(Area 2) Dane, Green, Rock, Sauk, Columbia</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[3]" value="3" data-value="Area 3" />
                <label class="form-check-label ml-1 mr-3" for="area[3]">(Area 3) LaCrosse, Vernon, Richland, Crawford, Iowa, Grant, Lafayette</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[4]" value="4" data-value="Area 4" />
                <label class="form-check-label ml-1 mr-3" for="area[4]">(Area 4) Rusk, Taylor, Chippewa, Clark, Eau Claire, Jackson, Trempealeau</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[5]" value="5" data-value="Area 5" />
                <label class="form-check-label ml-1 mr-3" for="area[5]">(Area 5) Barron, Polk, St Croix, Dunn, Pierce, Pepin, Buffalo</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[6]" value="6" data-value="Area 6" />
                <label class="form-check-label ml-1 mr-3" for="area[6]">(Area 6) Washington, Ozaukee, Sheboygan, Fond Du Lac, Dodge, Marquette</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[7]" value="7" data-value="Area 7" />
                <label class="form-check-label ml-1 mr-3" for="area[7]">(Area 7) Brown, Calumet, Door, Kewaunee, Manitowoc, Outagamie, Waushara, Winnebago</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[8]" value="8" data-value="Area 8" />
                <label class="form-check-label ml-1 mr-3" for="area[8]">(Area 8) Florence, Marinette, Oconto, Menomonee</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[9]" value="9" data-value="Area 9" />
                <label class="form-check-label ml-1 mr-3" for="area[9]">(Area 9) Adams, Wood, Portage, Waupaca, Marathon, Shawano, Juneau, Monroe</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[10]" value="10" data-value="Area 10" />
                <label class="form-check-label ml-1 mr-3" for="area[10]">(Area 10) Vilas, Oneida, Lincoln, Langlade, Price, Forrest</label>
            </div>
            <div class="form-check">
                <input type="checkbox" onclick="validateMembershipForm(this.form)" class="form-check-input" name="areas" id="area[11]" value="11" data-value="Area 11" />
                <label class="form-check-label ml-1 mr-3" for="area[11]">(Area 11) Douglas, Bayfield, Iron, Ashland, Sawyer, Burnett, Washburn</label>
            </div>

        </fieldset>

        <fieldset>
            <legend>Member Department/Business(s)</legend>
            <p>If a Department/Business is found, click on the <strong>"Add Department/Business"</strong> button to add it to this person's registration. 
            If a Department/Business is NOT found, click on the <strong>"Create Department/Business"</strong> button to add a Department/Business to our system.</p>
            <div class="form-group">
                <label for="searchTextBoxId">Department/Business:</label>
                <input type="text" class="form-control mb-3" name="searchTextBox" id="searchTextBoxId" 
                    onkeyup="memberBusinessSearch(this.value);" placeholder="Search for your Department/Business by Name">
            </div>
            <div id="searchResults"></div>
            <div id="businessList"></div>
        </fieldset>
            
        <div class="form-group row">
            <div class="col-md-12 p-5 text-right">
                <button type="submit" id="addMemberButton" style="min-width: 150px; width:25%" class="btn btn-primary" disabled>Add Registrant</button>
                <a href="/register/member/registrants" id="nextButton" style="min-width: 150px; width:25%" class="btn btn-success">Next</a>
            </div>
        </div>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
                }, false);
            });
            }, false);
        })();
    </script>
    
</section>

<%- include ('../template/footer') -%>