<%- include ('../template/header') -%>

<section id="speakerInfo">
    <h1>Speaker Registration</h1>
    <p>Please email the following information about yourself, presentation needs, and your presentation to <a href="mailto:treasurer@wsfia.org?subject=Speaker Registration">treasurer@wsfia.org</a> by <strong>October 5th</strong>.</p>

        <fieldset>
            <legend>Speaker Information</legend>

            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item">Name</li>
                    <li class="list-group-item">e-Mail Address</li>
                    <li class="list-group-item">Street Address<br/>City, State Zipcode</li>
                    <li class="list-group-item">Short Bio</li>
                    <li class="list-group-item">Class Title</li>
                    <li class="list-group-item">Class Description</li>
                    <li class="list-group-item">Special Equipment needs (speaker will need to provide their own laptop)<br/><em style="font-size: 90%;">Projector, projector pointer, mic and flip chart w/marker provided</em></li>
                    <li class="list-group-item">Speaker Fee</li>
                    <li class="list-group-item">Travel Expenses<br/><em>(Airfare, Mileage 0.565/mile, Car Rental)</em></li>
                    <li class="list-group-item"># Hotel Nights</li>
                    <li class="list-group-item">Meals<br/><em>(meals are provided Tuesday - Lunch; Wednesday - breakfast (if staying night before), lunch, dinner; Thursday - breakfast (if staying night before), lunch, dinner, Friday - breakfast (if staying night before))</em></li>
                    <li class="list-group-item">Misc Expense</li>
                    <li class="list-group-item">Copy of Your Presentation (If available)</li>
                </ul>
            </div>

        </fieldset>
    
</section>

<%- include ('../template/footer') -%>