</main>

<footer id="footer" class="bg-secondary py-3">

    <div class="container text-center ">
        <a href="https://www.linkedin.com/company/wisconsin-state-fire-inspectors-association/" target="_blank" rel="noopener noreferrer"><span style="color:#2867b2" class="fa fa-linkedin-square fa-w-14 fa-2x"></span></a>
        <a href="https://www.facebook.com/WSFIA" target="_blank" rel="noopener noreferrer"><span style="color:#3b5998" class="fa fa-facebook-square fa-w-14 fa-2x"></span></a>
                    <a href="https://twitter.com/wsfia" target="_blank" rel="noopener noreferrer"><span style="color:#1da1f2" class="fa fa-twitter-square fa-2x"></span></a>
        <p class="m-0 text-white">
            &copy; Copyright 
            <script> 
                const getYear = () => {
                    var date = new Date();
                    var year = date.getFullYear();
                    
                    return year.toString();
                }

                document.write(getYear());
            </script> 
            <a href="http://www.wsfia.org" class="text-white" title="Wisconsin State Fire Inspectors Association">Wisconsin State Fire Inspectors Association</a> All Rights Reserved
            <br />
            *DISCLAIMER* The views and actions of our partners and sponsors do not necessarily reflect the views of the WSFIA.<br /></p>
    </div>

</footer>
<!--
This HTML file is a template.
If you open it directly in the browser, you will see an empty page.

You can add webfonts, meta tags, or analytics to this file.
The build step will place the bundled scripts into the <body> tag.

To begin the development, run `npm start` or `yarn start`.
To create a production bundle, use `npm run build` or `yarn build`.
-->
<!-- Bootstrap core JavaScript -->
<script src="/javascript/jquery.min.js"></script>

<script src="/javascript/popper.min.js"></script>

<script src="/javascript/bootstrap.min.js"></script>
</body>
</html>